@model EntityLayer.Concrete.Writer

<img style="width:70px; height:70px;" alt="image" class="rounded-circle" src="@Model.WriterImage" />
<a data-toggle="dropdown" class="dropdown-toggle" href="#">
    <span class="block m-t-xs font-bold">@Model.WriterName</span>
    <span class="text-muted text-xs block">@Model.WriterMail <b class="caret"></b></span>
</a>