
<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>INSPINIA | Empty Page</title>

    <link href="~/inspinia-gh-pages/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/inspinia-gh-pages/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="~/inspinia-gh-pages/css/animate.css" rel="stylesheet">
    <link href="~/inspinia-gh-pages/css/style.css" rel="stylesheet">

</head>

<body class="">

    <div id="wrapper">

        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav metismenu" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element">
                            @await Component.InvokeAsync("WriterSignInData")
                            <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                <li><a class="dropdown-item" href="/Writer/EditWriter">Profilim</a></li>
                                <li><a class="dropdown-item" href="/Account/LogOut">Çıkış Yap</a></li>

                            </ul>
                        </div>
                        <div class="logo-element">
                          OBS
                        </div>
                    </li>
                    <li>
                        <a href="/Dashboard/Index"> <i class="fa fa-list-alt"></i><span class="nav-label">Dashboard</span> </a>

                    </li>
                    <li>
                        <a href="/Blog/Index"><i class="fa fa-th"></i> <span class="nav-label">Bloglar</span> </a>

                    </li>

                    <li>
                        <a href="/Blog/AddBlog"><i class="fa fa-plus-square-o"></i><span class="nav-label">Yeni Blog</span></a>

                    </li>
                   

                    <li>
                        <a href="/Blog/BlogsByWriter"><i class="fa fa-pencil-square-o"></i> <span class="nav-label">Bloglarım</span></a>

                    </li>


                    <li>
                        <a href="/Writer/EditWriter"><i class="fa fa-user-circle-o"></i> <span class="nav-label">Profilim</span></a>

                    </li>

                    <li>
                        <a href="/Writer/Index"><i class="fa fa-group"></i> <span class="nav-label">Yazarlar</span></a>

                    </li>

                    <li>
                        <a href="/Account/LogOut"><i class="fa fa-sign-out"></i> <span class="nav-label">Çıkış Yap</span></a>

                    </li>



                </ul>

            </div>
        </nav>

        <div id="page-wrapper" class="gray-bg">
            @await Html.PartialAsync("~/Views/Blog/PartialGetBlogsBySearch.cshtml")
          



            <div class="wrapper wrapper-content">
                @RenderBody()
            </div>


        </div>
    </div>

    <!-- Mainly scripts -->
    <script src="~/inspinia-gh-pages/js/jquery-3.1.1.min.js"></script>
    <script src="~/inspinia-gh-pages/js/popper.min.js"></script>
    <script src="~/inspinia-gh-pages/js/bootstrap.js"></script>
    <script src="~/inspinia-gh-pages/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="~/inspinia-gh-pages/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="~/inspinia-gh-pages/js/inspinia.js"></script>
    <script src="~/inspinia-gh-pages/js/plugins/pace/pace.min.js"></script>


</body>

</html>
