
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <title>2021-2022 Dönem Projesi</title>

    <!-- Bootstrap core CSS -->
    <link href="~/templatemo_569_edu_meeting/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="~/templatemo_569_edu_meeting/assets/css/fontawesome.css">
    <link rel="stylesheet" href="~/templatemo_569_edu_meeting/assets/css/templatemo-edu-meeting.css">
    <link rel="stylesheet" href="~/templatemo_569_edu_meeting/assets/css/owl.css">
    <link rel="stylesheet" href="~/templatemo_569_edu_meeting/assets/css/lightbox.css">

</head>

<body>



    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="index.html" class="logo">
                            Edu Meeting
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="#top" class="active">Anasayfa</a></li>
                            <li><a href="/Blog/Index">Bloglar</a></li>
                            <li><a href="/Register/Index">Kayıt Ol</a></li>

                            <li><a href="/Account/Login">Giriş Yap</a></li>
                            <li><a href="#contact">İletişim</a></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->
    <!-- ***** Main Banner Area Start ***** -->
    <section class="section main-banner" id="top" data-section="section1">
        <video autoplay muted loop id="bg-video">
            <source src="~/templatemo_569_edu_meeting/assets/images/course-video.mp4" type="video/mp4" />
        </video>

        <div class="video-overlay header-text">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="caption">
                            <h6>Merhaba Ben Fatma Erciyas</h6>
                            <h2>2021-2022 Dönem Projesi</h2>
                            <p>Necmettin Erbakan Üniversitesi Asp.Net Core 5.0 Öğrenci Bilgi Paylaşım Sistemi </p>
                            <div class="main-button-red">
                                <div class="scroll-to-section"><a href="/Register/Index">Kayıt Ol !</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Main Banner Area End ***** -->

    <section class="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="owl-service-item owl-carousel">

                        <div class="item">
                            <div class="icon">
                                <img src="~/templatemo_569_edu_meeting/assets/images/service-icon-01.png" alt="">
                            </div>
                            <div class="down-content">
                                <h4>Arkadaşlarınla Mesajlaş, Bilgilen</h4>
                                <p>Paylaşılan notlardan yararlan. Eksik gördüğün yerleri düzelt. Mesajlaş, bilgi edin.</p>
                            </div>
                        </div>

                        <div class="item">
                            <div class="icon">
                                <img src="~/templatemo_569_edu_meeting/assets/images/service-icon-02.png" alt="">
                            </div>
                            <div class="down-content">
                                <h4>Geçmiş Yılların Notlarını Al</h4>
                                <p>Seninle aynı dersleri alan arkadaşlarının paylaştığı notlardan yararlan.</p>
                            </div>
                        </div>

                        <div class="item">
                            <div class="icon">
                                <img src="~/templatemo_569_edu_meeting/assets/images/service-icon-03.png" alt="">
                            </div>
                            <div class="down-content">
                                <h4>Notlarını Paylaş</h4>
                                <p>Geçtiğin derslerin notlarını paylaş. Senden sonra dersi alacak olan arkadaşlarına yardımcı ol.</p>
                            </div>
                        </div>

                        <div class="item">
                            <div class="icon">
                                <img src="~/templatemo_569_edu_meeting/assets/images/service-icon-02.png" alt="">
                            </div>
                            <div class="down-content">
                                <h4>Soru Sor, Beğen, Yorum Yap</h4>
                                <p>Paylaşılan notları indir. Beğen, Yorum yap. Notlarını düzenle.</p>
                            </div>
                        </div>

                        <div class="item">
                            <div class="icon">
                                <img src="~/templatemo_569_edu_meeting/assets/images/service-icon-03.png" alt="">
                            </div>
                            <div class="down-content">
                                <h4>Popüler Yazarlar Arasına Gir</h4>
                                <p>Faydalı ve beğenilen notlar paylaş. Popüler yazarlardan biri haline gel.</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="upcoming-meetings" id="meetings">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading">
                        <h2>Popüler Yazılar</h2>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="categories">
                        <h4>Popüler Kategoriler</h4>
                        @await Component.InvokeAsync("GetPopularCategoriesHomePage")
                        <div class="main-button-red">
                            <a href="/Blog/BlogDetails/3">Kategorilere ait blogları gör</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">

                    @await Component.InvokeAsync("GetPopularBlogsHomePage")
                </div>

            </div>
        </div>
    </section>

    <section class="apply-now" id="apply">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 align-self-center">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="item">
                                <h3>Neler Öğrendim?</h3>
                                <p>Asp.Net Core ile yaptığım en kapsamlı projeydi ve MVC yapısının mantığını kavramamda ve bu mantığı uygulama noktasında gerçekten çok yardımcı oldu.</p>
                               
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="item">
                                <h3>Asp.Net Core</h3>
                                <p>Projede karşılaştığım sorunlara çözüm bulmak için interneti nasıl daha verimli kullanabileceğimi öğrendim.</p>
                               
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="accordions is-first-expanded">
                        <article class="accordion">
                            <div class="accordion-head">
                                <span>View Component Yapısı</span>
                                <span class="icon">
                                    <i class="icon fa fa-chevron-right"></i>
                                </span>
                            </div>
                            <div class="accordion-body">
                                <div class="content">
                                    <p> Daha önce View Component yapısı ile çalışmamıştım. İlk defa çalıştığım bu projede view componentlerle kodun daha verimli, sade ve anlaşılır yazılabileceğini öğrendim.</p>
                                </div>
                            </div>
                        </article>
                        <article class="accordion">
                            <div class="accordion-head">
                                <span>MSSQL kullanımı</span>
                                <span class="icon">
                                    <i class="icon fa fa-chevron-right"></i>
                                </span>
                            </div>
                            <div class="accordion-body">
                                <div class="content">
                                    <p>
                                        Veritabanı ile her zaman çok sıkıntı yaşıyor, bu yüzden de kullanmaya çekiniyordum. İnternette izlediğim videoların dışına çıkamıyordum. Bu proje ile birlikte MSSQL kullanımımın geliştiğini görüyorum.
                                    </p>
                                </div>
                            </div>
                        </article>
                       
                        <article class="accordion last-accordion">
                            <div class="accordion-head">
                                <span>Geri kalan çok fazla şey</span>
                                <span class="icon">
                                    <i class="icon fa fa-chevron-right"></i>
                                </span>
                            </div>
                            <div class="accordion-body">
                                <div class="content">
                                    <p>
                                        Bu projede çok fazla ayrıntı ile çok daha fazla şey öğrendiğimi düşünüyorum. Bana her konuda katkısı oldu. Hazır template entegre edimi, javascript kullanımı, back-end tarafında linq sorgularının rahatça kullanımı... Bu projede tek seferde buraya sığmayacak kadar çok şey öğrendim.
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="our-facts">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-12">
                            <h2>Diğer Projeler</h2>
                        </div>
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-12">
                                    <div class="count-area-content ">
                                        <div class="count-digit">94</div>
                                        <div class="count-title">Yazar</div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="count-area-content">
                                        <div class="count-digit">12612</div>
                                        <div class="count-title">Yorum</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-12">
                                    <div class="count-area-content new-students">
                                        <div class="count-digit">2345</div>
                                        <div class="count-title">Blog</div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="count-area-content">
                                        <div class="count-digit">10</div>
                                        <div class="count-title">Admin</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 align-self-center">
                    <div class="video">
                        <a href="https://www.youtube.com/watch?v=tf468m-EhsQ" target="_blank"><img src="~/templatemo_569_edu_meeting/assets/images/play-icon.png" alt=""></a>
                    </div>
                </div>
               
            </div>
        </div>
    </section>

    <section class="contact-us" id="contact">

        <div class="footer">
            <p>
                Asp.Net Core 5.0 Dönem Projesi 2022
                <br>Fatma Erciyas  <a href="https://github.com/fatmaerciyas" target="_parent" title="free css templates">github/fatmaerciyas</a>
            </p>
        </div>
    </section>

    <!-- Scripts -->
    <!-- Bootstrap core JavaScript -->
    <script src="~/templatemo_569_edu_meeting/vendor/jquery/jquery.min.js"></script>
    <script src="~/templatemo_569_edu_meeting/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="~/templatemo_569_edu_meeting/assets/js/isotope.min.js"></script>
    <script src="~/templatemo_569_edu_meeting/assets/js/owl-carousel.js"></script>
    <script src="~/templatemo_569_edu_meeting/assets/js/lightbox.js"></script>
    <script src="~/templatemo_569_edu_meeting/assets/js/tabs.js"></script>
    <script src="~/templatemo_569_edu_meeting/assets/js/video.js"></script>
    <script src="~/templatemo_569_edu_meeting/assets/js/slick-slider.js"></script>
    <script src="~/templatemo_569_edu_meeting/assets/js/custom.js"></script>
    <script>
        //according to loftblog tut
        $('.nav li:first').addClass('active');

        var showSection = function showSection(section, isAnimate) {
            var
                direction = section.replace(/#/, ''),
                reqSection = $('.section').filter('[data-section="' + direction + '"]'),
                reqSectionPos = reqSection.offset().top - 0;

            if (isAnimate) {
                $('body, html').animate({
                    scrollTop: reqSectionPos
                },
                    800);
            } else {
                $('body, html').scrollTop(reqSectionPos);
            }

        };

        var checkSection = function checkSection() {
            $('.section').each(function () {
                var
                    $this = $(this),
                    topEdge = $this.offset().top - 80,
                    bottomEdge = topEdge + $this.height(),
                    wScroll = $(window).scrollTop();
                if (topEdge < wScroll && bottomEdge > wScroll) {
                    var
                        currentId = $this.data('section'),
                        reqLink = $('a').filter('[href*=\\#' + currentId + ']');
                    reqLink.closest('li').addClass('active').
                        siblings().removeClass('active');
                }
            });
        };

        $('.main-menu, .responsive-menu, .scroll-to-section').on('click', 'a', function (e) {
            e.preventDefault();
            showSection($(this).attr('href'), true);
        });

        $(window).scroll(function () {
            checkSection();
        });
    </script>
</body>


</html>