
@{
    ViewData["Title"] = "Ban";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<h3>Sayın kullanıcı admin tarafından profiliniz engellendiği için blog paylaşımı yapamazsınız. Lütfen yazdığınız yorumlara veya paylaştığınız yazılara dikkat ediniz. </h3>

